h1{
  font-family: Serge;
  font-style: normal;
  font-weight: normal;
  font-size:400px;
  text-align:center;
  letter-spacing:-10px;
  margin:0px;
  // -webkit-transform:rotate(-30deg);
  line-height:0.7em;

}

h1 .char1{
	letter-spacing:-40px;
}

h1 .char3{
	letter-spacing:-20px;
}

h1 .char4{
	letter-spacing:-30px;
}

h1 .char5{
	letter-spacing:-25px;
}